body {
    margin: 0;
    padding: 0;
    font-family: $app-font;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow-x: hidden;
}

h1, h2, h3 {
    font-family: $header-font;
}

code {
    font-family: $code-font;
}

a {
    color: $primary-color;

    &:hover {
        color: $white;
    }
}

header {
    display: flex;
    min-height: 100%;
    position: relative;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    height: 800px;
    max-height: 800px;
    flex-direction: column;

    @include respond-below ( small ) {
        justify-content: space-around;
        height: 600px;
    }

    &::before {
        background-image: url( '../assets/events2.jpg' );
        background-repeat: none;
        background-position: center bottom;
        background-size: cover;
        -webkit-filter: blur(2.5px);
        filter: blur(2.5px);
        content: '';
        height: 800px;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
        will-change: transform;
        z-index: -2;
    }

    &::after {
        background: linear-gradient(to top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, .85) 100%);
        height: 800px;
        width: 100%;
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
    }

    .name {
        fill: $white;
    }

    .handshake {
        align-items: center;
        display: flex;
        flex-direction: row;
        margin-bottom: 5em;

        .logo {
            height: 150px;
            margin-right: 2em;
        }

        @include respond-below ( small ) {
            flex-direction: column;
            margin-bottom: 1em;
            max-width: 70vw;

            .logo {
                margin-right: 0;
            }

            h1 {
                font-size: 1.75em;
                margin-bottom: 0;
            }
        }

        @include respond-above ( small ) {
            max-width: 70vw;
            width: 70vw;

            h1 {
                font-size: 2em;
            }
        }
    }

    .headline {
        display: flex;
        flex-direction: column;
        color: $white;
        width: 100%;
    }

    h1 {
        font-size: 3em;
        font-weight: 900;
        line-height: 1.25em;
        color: $white;
        margin-bottom: 0;

        @include respond-below ( small ) {
            font-size: 2.5em;
            text-align: center;
        }
    }

    h2 {
        font-weight: 300;
        margin-bottom: 0;

        @include respond-below ( small ) {
            text-align: center;
        }
    }

    p {
        color: $white;
        font-size: 1.5em;
        margin-bottom: 3em;
        max-width: 800px;
        text-align: center;
        line-height: 1.5em;

        @include respond-below ( small ) {
            display: none;
            visibility: hidden;
        }
    }
}

.action-container {
    align-items: flex-start;
    display: flex;
    justify-content: center;
    margin-top: 1em;
    min-height: 200px;
    position: relative;
    z-index: 2;

    @include respond-above( small ) {
        max-width: 850px;
        width: 850px;
    }

    @include respond-below ( small ) {
        align-items: center;
        flex-direction: column;

        .call-to-action {
            margin-bottom: 5em;
            text-align: center;

            &:last-child {
                margin-bottom: 0;
            }

            img {
                left: 0;
                right: 0;
                margin: 0 auto;
                top: -3.5em;
            }

            &.slack {
                padding-left: 4em;
            }

            &.meetup {
                padding-right: 4em;
            }
        }
    }
}

.call-to-action {
    align-items: center;
    border-radius: 25px;
    border: none;
    color: $white;
    cursor: pointer;
    display: flex;
    flex-grow: 1;
    font-size: 1.25em;
    font-weight: 700;
    justify-content: center;
    line-height: 2em;
    margin: 0 2em;
    padding: .25em 4em;
    position: relative;
    text-decoration: none;
    transition: all 200ms ease;
    white-space: nowrap;

    &.slack {
        background: $slack;
        padding-left: 6em;
        width: 160px;

        .content {
            width: 100%;
        }
    }

    &.meetup {
        background: $meetup;
        padding-right: 5em;
    }

    .left {
        left: -1em;
    }

    .right {
        right: -1em;
    }

    img {
        background: $white;
        border-radius: 60px;
        padding: .5em;
        position: absolute;
        height: 60px;
        width: 60px;
    }

    &.grow > img {
        transition: all .2s ease-in-out;
    }

    &:hover > img {
        transform: scale( 1.1 );
    }

    .response {

        .success,
        .error {
            position: absolute;
            right: -1em;
            font-size: 1em;
            font-weight: 400;
            margin-bottom: 0;
            margin-top: 0;
            padding: .5em 1em;
            border-radius: 30px;
        }

        .success {
            top: 4em;
            background: darken( $primary-color, 20% );
        }

        .error {
            top: 10.5em;
            background: $error-color;
        }
    }
}

.info {
    display: flex;
    justify-content: space-around;
    padding: 4em 0;
    position: relative;
    width: 80vw;
    max-width: 1400px;
    margin: 0 auto;

    @include respond-below ( small ) {
        flex-direction: column;
        padding-bottom: 0;
    }

    .section {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        max-width: 350px;
        padding: 0 1em;
        white-space: pre-wrap;
        z-index: 2;

        @include respond-below ( small ) {
            margin: 0 auto 3em;
            max-width: 70vw;

            .icon {
                display: none;
                visibility: hidden;
            }

            .caption {
                height: auto;
            }
        }
    }

    h2 {
        font-size: 2em;
        font-weight: 500;
        letter-spacing: 2px;
        color: $text-color;
        text-align: center;
        margin: .5em 0;
    }

    .caption {
        display: flex;
        align-items: flex-start;
        margin-bottom: 1em;
        text-align: center;
        height: 110px;
        line-height: 1.5em;
        font-size: 1em;
        color: $text-color;
    }

    .ghost-button {
        border: 2px solid $dark-grey;
        border-radius: 3px;
        color: $dark-grey;
        font-weight: 500;
        transition: transform .2s ease-in-out;

        &:hover {
            font-weight: 700;
            transform: scale(1.1);
            transition: transform .2s ease-in-out;
        }
    }
}

button, .button {
    padding: .75em 1.5em;
    display: flex;
    cursor: pointer;
    align-items: center;
    color: $white;
    font-size: 1em;
    font-weight: 300;
    letter-spacing: 1px;
    border: none;
    text-decoration: none;

    svg {
        margin-right: .5em;
    }

    &:hover {
        box-shadow: 0 3px 5px rgba( $black, .2 );
    }
}

.mission {
    flex: 1;

    h2 {
        font-size: 1em;
        font-weight: 500;
        text-transform: uppercase;
        margin-bottom: 0;
    }

    p {
        font-size: 2.65em;
        font-weight: 500;
        line-height: 1.25em;
        margin-right: 1.5em;
        margin-top: 0;

        @include respond-below (small) {
            font-size: 2.25em;
            margin-right: 0;
        }
    }
}

.sponsors {
    background: $dark-grey;
    color: $white;
    padding: 2em;
    display: flex;
    flex-direction: column;
    flex: 1;
    text-align: left;
    max-width: 500px;
    z-index: 1;

    h1, h2 {
        color: $light-grey;
        font-weight: 100;
        margin: 0;
    }

    a {
        color: $primary-color;
    }

    .current {
        border-bottom: 1px solid rgba( $mid-grey, .5 );
        margin-bottom: 2em;
        padding-bottom: 1em;

        .thanks {
            font-size: 1em;
            font-weight: 300;
            line-height: 1.5em;
            margin-top: .25em;
            margin-bottom: 0;
        }
    }
}

.sponsors-gallery {
    display: flex;
    flex-direction: row;

    .partner-logo {
        background: $white;
        height: 80px; //normally 100px
        width: 80px; //normally 100px
        border-radius: 80px; //normally 100px
        margin: 1em;
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;
        padding: 1em;

        @include respond-below (small) {
            height: auto;
        }

        &.grow {
            cursor: pointer;
            transition: all .2s ease-in-out;
        }

        &:hover {
            transform: scale( 1.1 );
        }

        img {
            max-width: 95%;
            max-height: 95%;

            .full-width {
                max-width: 100%;
            }
        }
    }
}

.sponsors-list {
    list-style-type: none;
    padding-left: 0;
    text-align: left;

    .sponsor-list-item {
        font-size: 1em;
        font-weight: 300;
        margin-bottom: 1em;

        a {
            font-size: 1.25em;
            font-weight: 400;
            text-decoration: none;
        }
    }
}

.shoutout {
    min-height: 350px;
    background: $light-grey;
    color: $white;
    position: relative;
    margin-top: 2em;
    padding: 2em 0;
    margin-bottom: -6em;

    .shoutout-container {
        display: flex;
        margin: 0 auto;
        color: $text-color;
        width: 80vw;
        max-width: 1400px;

        @include respond-above(small) {
            flex-direction: row;
        }

        @include respond-below (small) {
            flex-direction: column;
        }
    }
}

.community {
    color: $black;
    background: $white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 6em 2em 0;
    position: relative;

    h1 {
        letter-spacing: 1px;
    }

    p {
        font-size: 1em;
    }

    .group-listings {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        margin-top: 2em;
        margin-bottom: 2em;
        width: 80vw;
        max-width: 1400px;

        @include respond-below ( small ) {
            flex-wrap: wrap;
        }
    }

    .group {
        flex: 1;
        margin: 0 2em;
        display: flex;
        align-items: center;
        flex-direction: column;

        @include respond-below ( small ) {

            p {
                display: none;
                visibility: hidden;
            }
        }

        .group-logo {
            background: $white;
            padding: 2em;
            border-radius: 160px;
            margin: 0 auto 1em;
            height: 160px;
            width: 160px;
            display: flex;
            align-items: center;
            justify-content: center;

            @include respond-below ( small ) {
                height: 120px;
                width: 120px;
                padding: 1em;
                overflow: hidden;
            }

            &.grow {
                cursor: pointer;
                transition: all .2s ease-in-out;
            }

            &:hover {
                transform: scale( 1.1 );
            }

            img {
                max-height: 80%;
                max-width: 80%;
            }
        }

        h2 {
            margin-bottom: 0;
        }

        h2, p {
            text-align: center;
            line-height: 1.75em;
        }
    }
}

.footer {
    background: $dark-grey;
    display: flex;
    flex-flow: column;
    height: 300px;
    overflow: hidden;
    position: relative;

    @include respond-above(small) {
        padding: 3em;
    }

    @include respond-below (small) {
        padding: 5em 3em 3em;
    }

    .name {
        fill: $white;
        opacity: .3;
        position: absolute;
        width: 90%;
        align-self: center;

        @include respond-above(small) {
            bottom: -30px;
        }

        @include respond-below (small) {
            top: 10px;
        }
    }

    .footer-content {
        align-items: flex-start;
        display: flex;
        z-index: 1;

        @include respond-above(small) {
            flex-direction: row;
        }

        @include respond-below (small) {
            flex-direction: column;
        }
    }

    .contact {
        justify-content: flex-start;
        display: flex;
        flex-flow: row wrap;
        color: $white;
        text-align: left;

        @include respond-above(small) {
            align-items: flex-start;
        }

        @include respond-below (small) {
            align-items: center;
            text-align: center;
            justify-content: space-around;
        }

        h3 {
            color: $mid-grey;
            font-size: 1em;
            font-weight: 300;
            min-width: 100%;
            text-transform: uppercase;
        }

        .social {
            cursor: pointer;
            max-width: 50px;
            margin-right: 1em;
            width: 50px;
        }

        .padded {
            background: $white;
            padding: .5em;
            height: 34px;
            width: 34px;
            border-radius: 50px;
        }
    }

    .footer-info {
        color: $white;
        flex: 1;

        @include respond-above(small) {
            text-align: right;
        }

        @include respond-below (small) {
            text-align: center;
        }

        p {
            line-height: 1.5em;
        }

        .links {
            list-style-type: none;
            padding-left: 0;

            a {
                font-size: 1em;
                font-weight: 300;
                line-height: 1.5em;
            }
        }
    }
}
