/* stylelint-disable */
$app-font: 'Segoe UI', 'Roboto', 'Helvetica Neue', sans-serif;
$code-font: 'Courier New', monospace;
$headline-font: 'Raleway', sans-serif;
$header-font: 'Nunito Sans', sans-serif;
$handwriting-font: 'Pacifico', cursive;

$white: #fff;
$off-white: #f9f9f9;
$light-grey: #ededed;
$mid-grey: #999;
$mute-grey: #383838;
$dark-grey: #171717;
$black: #000;

$map-container: #212121;

$primary-color: #bac54b;
$dark-primary-color: darken($primary-color, 20%);
$dark-green: #104539;
$medium-green: #e2e5a3;
$light-green: #efefca;
$secondary-color: #2eb67d;
$tertiary-color: #f7b733;
$error-color: #ac0808;

$slack: #1697bd;
$meetup: #ED1C40;

$text-color: #3e3e3e;
$link-color: $primary-color;
/* stylelint-enable */